.app-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.heading {
  color: black;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Roboto';
}
.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image-1 {
  width: 500px;
  height: 500px;
}
